body {
    background-color: #f4f4f4;
}

.page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: auto;
    padding: 0;
}

ul.navbar-nav{
    margin-left: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192, 178, 131, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: #C0B283;
}

.bg-custom-color {
    background-color: #373737; 
    
}

.bg-custom-color a {
    color: #f4f4f4;
}

h1 {
    text-align: center

}

.main {

   margin: auto;
}

.form_wrapper {
border: 1px ;
padding: 50px;
border-radius: 10px;
box-shadow: 6px 6px 4px 6px  #c0b283
}

.email {
    width: 300px;
}

.password {
    width: 300px;
} 

.btn {
    background-color: #c0b283;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    background: #DCD0C0;
    padding: 30px 0;
    color: #373737;
    font-weight: bold;
}